{% load widget_tweaks %}
<form class="row g-4" action="{{ request.path }}" method="POST" id="form-universal-modal">
     {% csrf_token %}
    <div class="modal-body">
        <p class="mb-0 color-red"> Вы точно хотите выбрать данного исполнителя?   </p>
        <p class="mb-0 color-red"> Тогда оставьте ваш номер тут чтобы вы могли оплатить с Каспий </p>
        {{form.phone_number|add_class:"form-control"|append_attr:"placeholder:Введите номер телефона"}}
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-danger btn-sm" value="Да хочу">
        <a href="" class="btn btn-secondary btn-sm">Нет</a>
    </div>
</form>